<div id="<%= dom_id book %>">
  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= book.language %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Rating count:</strong>
    <%= book.rating_count %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= book.rating %>
  </p>

  <p>
    <strong>Publication date:</strong>
    <%= book.publication_date %>
  </p>

  <p>
    <strong>Dimension x:</strong>
    <%= book.dimension_x %>
  </p>

  <p>
    <strong>Dimension y:</strong>
    <%= book.dimension_y %>
  </p>

  <p>
    <strong>Dimension z:</strong>
    <%= book.dimension_z %>
  </p>

  <p>
    <strong>Ages:</strong>
    <%= book.ages %>
  </p>

  <p>
    <strong>Format:</strong>
    <%= book.format_id %>
  </p>

</div>
