<div class="w-full flex flex-col items-center">
  <div>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Books</h1>
    </div>
  </div>

  <div class="flex flex-col items-center mb-[10px] w-full">
    <%= form_with url: books_path, method: :get, html: { class: "max-w-[600px] w-full" } do |f| %>
      <%= f.search_field :q, value: params[:q], class: "w-full my-[5px]", placeholder: "Search...", autofocus: true %>
    <% end %>

    <%= turbo_frame_tag "books_#{@page&.number}", class: "flex flex-wrap flex-row justify-center gap-[10px] p-[10px] max-w-[1200px]" do %>
      <% @books.each do |book| %>
        <%= link_to book, data: { turbo_frame: :_top } do %>
          <div class="flex flex-col items-center justify-between w-[150px]">
            <img src="<%= book.image_url %>" class="w-[100px]">
            <div class="flex flex-row text-center">
              <%= book.title %>
            </div>
            <div class="text-sm text-center mt-[10px]">By: <%= book.authors.map(&:name).join(", ") %></div>
          </div>
        <% end %>
      <% end %>

      <% if @page.present? %>
        <%= turbo_frame_tag "books_#{@page&.next_param}", class: "contents" do %>
          <div class="w-[1200px] flex justify-center mt-[15px]">
            <%= link_to "Next page", books_path(page: @page.next_param), class: "border-b" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
