<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<%= form_with url: categories_path, method: :get do |f| %>
  <%= f.search_field :q, value: params[:q] %>
  <%= f.submit "Search" %>
<% end %>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
