<div class="w-full flex flex-col items-center">
  <div>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Categories</h1>
    </div>
  </div>

  <div class="flex flex-col items-center mb-[10px] w-full">
    <%= form_with url: categories_path, method: :get, html: { class: "max-w-[600px] w-full" } do |f| %>
      <%= f.search_field :q, value: params[:q], class: "w-full my-[5px]", placeholder: "Search...", autofocus: true %>
    <% end %>

    <%= turbo_frame_tag "categories_#{@page&.number}", class: "max-w-[600px] w-full border-[1px] p-[10px]" do %>
      <%= render @categories %>

      <% if @page.present? %>
        <%= turbo_frame_tag "categories_#{@page&.next_param}", class: "flex flex-col" do %>
          <%= link_to "Next page", categories_path(page: @page.next_param), class: "mt-[5px] w-full text-center" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
